.app_layout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(-120deg,var(--color-brand--theme-backround) 70%,var(--color-brand--theme-text) 0%);;
}