.check_group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

.check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, 7.5rem;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

.white_circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 34.5576;
  }
  to {
    stroke-dasharray: 34.5576rem, 34.5576rem;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 7.5rem;
  }
  to {
    stroke-dasharray: 7.5rem, 7.5rem;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}
