.footer{
    height:100vh;
    backdrop-filter: blur(1rem);
    background: var(--color-brand--10);
    padding:2.5rem 0;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}
.contact_text{
    font-weight:600;
    font-size:2rem;
    color:var(--color-brand--1);
    transform: rotate(-90deg) translateX(-5rem);
    transition: transform 0.2s;
}
.lines{
    width: 8rem;
    transform: rotate(-90deg);
    display: flex;
}
.fist_line{
    width: 4rem;
    height: 0.5rem;
    background-color: var(--color-brand--1);
}
.second_line{
    width: 4rem;
    height: 0.5rem;
    background-color: var(--color-brand--1);
}
.messenger_section{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
.messenger{
    display: none;
    color: var(--color-brand--1 );
    width: 60%;
    padding-left: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.contact_active{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.messenger_sector_active{
    min-width: 45rem;
    min-height: 25rem;
    padding: 5rem 0;
    background-image: linear-gradient(45deg,#28D07E,#0B7D6B);
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    .qr_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            color: var(--color-brand--1);
            font-family: Play;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
        }
        .qr_code{
            outline: 0.1rem solid white;
            padding: 0.2rem;
            width: 8rem;
        }
    }
    .contact_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .messenger_section{
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: start;
            text-decoration: none;
            cursor: pointer;
        }
        .messenger{
            display: block;  
            padding-left: 1rem;
            font-size: 1.3rem;
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
    }
    animation: messenger_animation 1s;
}   
.email_box{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(3);
    border-radius: 1rem;
    p{
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    .form_input{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .input_sector{
        flex:1 0 45%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input{
            font-size: 1.5rem;
            padding:0.5rem 1rem;
        }
    }
    .textarea_sector{
        margin: 1rem 0;
        flex:1 0 100%;
        min-height: 10rem;
        gap: 0.5rem;
        textarea{
            font-size: 1.5rem;
            padding:0.5rem 1rem;
        }
    }
    label{
        color: white;
        font-size: 1.5rem;
    }
    input,textarea{
        border: none;
        background: transparent;
        outline: none;
        color: white;
        border-bottom: 0.1rem solid white;
    }
}

@keyframes messenger_animation{   
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width:576px){
    .contact_active{
        justify-content: space-evenly;
        flex-direction: column;
    }
    .email_box{
        height:auto
    }
}