.main_bob{
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
.intro{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .who_cover{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        .offer{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            font-size: 2.8rem;
            font-weight: 600;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: var(--color-brand--1);
            text-transform: uppercase;
            p{
                margin:0 0.5rem;
            }
        }
        .button_sector{
            display: flex;
            gap: 1rem;
        }
        .image_section{
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .profile_name{
            color: var(--color-brand--1);
            font-weight: 700;
            font-size: 2rem;
            font-family: monospace;
            transform: translate(-2rem,2rem);
        }
}
.page_number{
    height: 10%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:576px){
    .intro,.who_cover{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .button_sector{
        justify-content: center;
    }
    .offer{
        width: 100%;
        flex-wrap: wrap;
    }
}