
*,*::before,*::after{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;

}

.slider_container{
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider_items{
    height: 30vw;
    position: relative;
    list-style-type: none;
    background-color: aqua;
    display: flex;
    justify-content: center;
    li{
        position: absolute;
        width: 50%;
        height: 85%;
        top: 0%;
        left: 50%;
        cursor: pointer;
        transition: transform 1.4s cubic-bezier(0.19,1,0.22,1);
        img{
            width: 100%;
            height: 100%;
            transition: 0.25s;
        }
    }
}

.slider_nav{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45%;
    border-top: 2px solid var(--color-brand--theme-text);
    border-right: 2px solid var(--color-brand--theme-text);
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}
.prev{
    left: 10%;
    transform: rotate(225deg);
}
.next{
    right: 10%;
    transform: rotate(45deg);
}